<div class="container">
<div class="row">
      {{#each matchLimit}}
  <div class="col">
    <div class="card match123 d-inline-block" style="width: 12rem;">

      {{!-- <div class="row" >
  <div class="col-sm-6"> --}}
      <div class="d-inline-block">
        {{!-- style= "display-inline: auto" --}}
        <img class="card-img-top picformat" src="{{this.photo}}" alt="Card image cap">
        <div class="card-body" style="margin-bottom: 5%">
          <h5 id ="username" class="card-title">{{this.first_name}} {{this.last_name}}</h5>
          <p class="card-text"></p>
          {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
          <button class="btn btn-success" id="gitfitAccept" data-profilematchid="{{this.match_id}}"
            data-pactivity="{{this.primary_training_type}}">Accept</button>
          <button class="btn btn-dark" id="gitfitBlock" data-profilematchid="{{this.id}}"
          data-pactivity="{{this.primary_training_type}}">Block</button>
          <button class="btn btn-info chat-btn" id="Chat{{this.id}}" data-profilematchid="{{this.id}}"
          data-pactivity="{{this.primary_training_type}}">Chat</button>
          <button class="btn btn-info map" id="{{this.id}}" data-profilematchid="{{this.id}}"
          data-pactivity="{{this.primary_training_type}}">Map</button>

        </div>

      </div>

    {{!-- </div> --}}


  {{!-- </div> --}}



</div> {{! end of card }}
</div> {{! end of col }}
   {{/each}}
</div>{{! end of row }}
  <div class="col-sm-6" id="messageChat">
    {{>chat}}
  </div>

</div> {{! end of container }}
