<div class="container">
  <div class="row">
    {{#each matchLimit}}
    <div class="col s12 l4 m4">
      <div class="card-panel center">
        <h5 class="match1"><i>{{this.first_name}} {{this.last_name}}</i> <a href=""> <span><i
                class="material-icons tiny">open_in_new</i></span></a></h5>
        <div>
          <img id="match1_picPro" src="{{this.photo}}" alt="">
        </div>
        <div>
          <ul>
            <li class="match_iconsPro collection-item avatar" style="background-color:transparent; min-height: 64px;">
              <a href="">
                <i class="medium material-icons red white-text circle">remove_circle </i>
                <button class="declineText gitfitBlock" id="gitfitBlock" data-profilematchid="{{this.match_id}}"
                  data-pactivity="{{this.primary_training_type}}">DECLINE</button></a></li>

            <li class="match_iconsPro collection-item avatar" style="background-color:transparent; min-height: 64px;">
              <a href="#" onclick="myFunction()">
                <i class="forum medium material-icons blue white-text circle ">forum </i>
                <span class="messageText">MESSAGE</span></a></li>
            <!-- <button onclick="myFunction()">Try it</button> -->
            <li class="match_iconsPro collection-item avatar" style="background-color:transparent; min-height: 64px;">
              <a href="">
                <i class="medium material-icons green white-text circle">done_all</i>
                <button class="acceptText gitfitAccept" id="gitfitAccept" data-profilematchid="{{this.match_id}}"
                  data-pactivity="{{this.primary_training_type}}">ACCEPT</button></a></li>
          </ul>
        </div>
      </div>
    </div>
     {{/each}}
  </div>
</div>
